        /* Add your custom styles here */
        body {
          background-color: #f8f9fa;
          font-family: 'Roboto', sans-serif;
      }
      .container {
          max-width: 600px;
      }
      .healthbar {
          background-color: #f8d7da;
          border: 1px solid #f5c6cb;
          height: 30px;
          margin-bottom: 10px;
          position: relative;
          overflow: hidden;
          border-radius: 15px;
      }
      .healthbar__value {
          background-color: #dc3545;
          height: 100%;
          transition: width 0.5s ease-in-out;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 15px;
      }
      .progress-value {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-weight: bold;
      }
      .log--player {
          color: #198754;
      }
      .log--monster {
          color: #dc3545;
      }
      .log--damage {
          font-weight: bold;
          color: #dc3545;
      }
      .log--heal {
          font-weight: bold;
          color: #198754;
      }
      .btn-action {
          font-size: 1.2rem;
          padding: 10px 20px;
          margin: 0 10px 10px 0;
          border-radius: 20px;
          transition: transform 0.3s ease-in-out;
      }
      .btn-action i {
          margin-right: 5px;
      }
      .btn-action:hover {
          transform: translateY(-3px);
      }